﻿<%@ Page Title="Nueva Comunicación" Language="C#" MasterPageFile="~/Modules/Posts/Posts.master" AutoEventWireup="true"
    CodeBehind="CreateComunication.aspx.cs" Inherits="Presentation.Modules.Posts.Forms.CreateComunication" %>

<%@ Register Src="~/Modules/Posts/UserControls/wucCreatePost.ascx" TagName="wucCreatePost"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:wucCreatePost ID="wucCreatePost1" runat="server" />
</asp:Content>
