﻿<%@ Page Title="Registrar Residente" Language="C#" MasterPageFile="~/Modules/Residences/Residences.master"
    AutoEventWireup="true" CodeBehind="ResidentRegister.aspx.cs" Inherits="Presentation.Modules.Residences.Forms.ResidentRegister" %>

<%@ Register Src="~/Modules/General/UserControls/wucGeneralRegister.ascx" TagName="wucGeneralRegister"
    TagPrefix="uc1" %>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <uc1:wucGeneralRegister ID="wucGeneralRegister1" runat="server" ModuleId="1" ScreenId="1"
        EntityTypeId="1" />
</asp:Content>
