﻿<%@ Page Title="Registrar Profesor" Language="C#" MasterPageFile="~/Modules/Residences/Residences.master" AutoEventWireup="true" CodeBehind="TeacherRegister.aspx.cs" Inherits="Presentation.Modules.Residences.Forms.TeacherRegister" %>

<%@ Register Src="~/Modules/General/UserControls/wucGeneralRegister.ascx" TagName="wucGeneralRegister"
    TagPrefix="uc1" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:wucGeneralRegister ID="wucGeneralRegister1" runat="server"/>
</asp:Content>
