﻿<%@ Page Title="Residencia Individual" Language="C#" MasterPageFile="~/Modules/Indicators/Indicators.master"
    AutoEventWireup="true" CodeBehind="Residencie.aspx.cs" Inherits="Presentation.Modules.Indicators.Residencie" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
