﻿<%@ Page Title="Completar Solicitudes" Language="C#" MasterPageFile="~/Modules/Letters/Letters.master"
    AutoEventWireup="true" CodeBehind="CompleteRequests.aspx.cs" Inherits="Presentation.Modules.Letters.Forms.CompleteRequests" %>

<%@ Register Src="~/Modules/Letters/UserControls/wucRequests.ascx" TagName="wucRequests"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:wucRequests ID="wucRequests1" runat="server" />
</asp:Content>
