﻿<%@ Page Title="Confirmar Contraseña" Language="C#" MasterPageFile="~/Site.master"
    AutoEventWireup="true" CodeBehind="Recover.aspx.cs" Inherits="Presentation.Account.Recover" %>

<%@ Register Src="~/Account/UserControls/wucConfirmPassword.ascx" TagName="wucConfirmPassword"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:wucConfirmPassword ID="wucConfirmPassword1" runat="server" />
</asp:Content>
