﻿<%@ Page Title="Regístrar" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"
    CodeBehind="SignUp.aspx.cs" Inherits="Presentation.Account.SignUp" %>
       
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <%--<div class="span12">
            <div class="well">
                <fieldset>
                    <legend>
                        <h2>
                            2. Confirma tu Correo</h2>
                    </legend>
                    <blockquote>
                        <p>
                            El código de confirmación de tu cuenta ha sido enviado a tu correo para terminar
                            la validación de la misma.
                        </p>
                        <small>Este proceso puede tardar varios minutos.</small>
                    </blockquote>
                    <div class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">
                                Código</label>
                            <div class="controls">
                                <asp:TextBox ID="txtConfirmationCod" runat="server"></asp:TextBox>
                            </div>
                        </div>
                    </div>
                    <div class="controls">
                        <asp:Button ID="btnConfirm" runat="server" Text="Confirmar" 
                            class="btn btn-info btn-large" />
                    </div>
                    <p>
                        ¿Aun no recibes tu código de validación?
                    </p>
                    <asp:Button ID="btnReSentConfirm" runat="server" Text="Solicítalo de nuevo haciendo clic aquí."
                        class="btn btn-link" />
                </fieldset>
            </div>
        </div>--%>
</asp:Content>
