﻿<%@ Page Title="Register" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="xRegister.aspx.cs" Inherits="Presentation.Account.Register" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <%--<asp:UpdatePanel ID="upanelUserInfo" runat="server">
            <ContentTemplate>--%>
    <%--<div class="form-horizontal">--%>
    <div class="span6">
        <div class="well">
            <fieldset>
                <legend><h2>¿Eres Médico Residente? Iniciar Sesión</h2></legend>
                <hr />
                <div class="controls">
                    <asp:TextBox ID="txtUserName" runat="server" type="email" placeholder="Correo Electrónico"></asp:TextBox>
                </div>
                <div class="controls">
                    <asp:TextBox ID="txtPassword" runat="server" type="password" placeholder="Contraseña"></asp:TextBox>
                </div>
                <asp:Button ID="btnLogIn" runat="server" Text="Iniciar Sesión" class="btn btn-info" />
            </fieldset>
        </div>
    </div>
    <div class="span6">
        <div class="well">
            <fieldset>
                <legend>
                    <h2>
                        Terminar proceso de registro</h2>
                </legend>
                <hr />
                <%--<div class="control-group">--%>
                    <%--<label class="control-label">
                        Correo electrónico</label>--%>
                    <div class="controls">
                        <asp:TextBox ID="txtRegisterEmail" runat="server" type="email" placeholder="Correo Electrónico"></asp:TextBox>
                    </div>
                <%--</div>
                <div class="control-group">--%>
                    <%--<label class="control-label">
                        Confirmar correo electrónico</label>--%>
                    <div class="controls">
                        <asp:TextBox ID="txtConfirmEmail" runat="server" type="email" placeholder="Confirmar Correo Electrónico"></asp:TextBox>
                    </div>
                <%--</div>
                <div class="control-group">--%>
                    <%--<label class="control-label">
                        Contraseña</label>--%>
                    <div class="controls">
                        <asp:TextBox ID="txtRegisterPassword" runat="server" type="password" placeholder="Contraseña"></asp:TextBox>
                    </div>
                <%--</div>
                <div class="control-group">--%>
                   <%-- <label class="control-label">
                        Confirmar eontraseña</label>--%>
                    <div class="controls">
                        <asp:TextBox ID="txtPasswordConfirm" runat="server" type="password" placeholder="Confirmar Contraseña"></asp:TextBox>
                    </div>
                <%--</div>--%>
                <asp:Button ID="btnRegister" runat="server" Text="Registrar" class="btn btn-success" />
            </fieldset>
        </div>
    </div>
   <%-- </div>--%>
    <%-- </ContentTemplate>
        </asp:UpdatePanel>--%>
    <%--<asp:CreateUserWizard ID="RegisterUser" runat="server" EnableViewState="false" OnCreatedUser="RegisterUser_CreatedUser">
        <LayoutTemplate>
            <asp:PlaceHolder ID="wizardStepPlaceholder" runat="server"></asp:PlaceHolder>
            <asp:PlaceHolder ID="navigationPlaceholder" runat="server"></asp:PlaceHolder>
        </LayoutTemplate>
        <WizardSteps>
            <asp:CreateUserWizardStep ID="RegisterUserWizardStep" runat="server">
                <ContentTemplate>
                    <h2>
                        Create a New Account
                    </h2>
                    <p>
                        Use the form below to create a new account.
                    </p>
                    <p>
                        Passwords are required to be a minimum of <%= Membership.MinRequiredPasswordLength %> characters in length.
                    </p>
                    <span class="failureNotification">
                        <asp:Literal ID="ErrorMessage" runat="server"></asp:Literal>
                    </span>
                    <asp:ValidationSummary ID="RegisterUserValidationSummary" runat="server" CssClass="failureNotification" 
                         ValidationGroup="RegisterUserValidationGroup"/>
                    <div class="accountInfo">
                        <fieldset class="register">
                            <legend>Account Information</legend>
                            <p>
                                <asp:Label ID="UserNameLabel" runat="server" AssociatedControlID="UserName">User Name:</asp:Label>
                                <asp:TextBox ID="UserName" runat="server" CssClass="textEntry"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="UserNameRequired" runat="server" ControlToValidate="UserName" 
                                     CssClass="failureNotification" ErrorMessage="User Name is required." ToolTip="User Name is required." 
                                     ValidationGroup="RegisterUserValidationGroup">*</asp:RequiredFieldValidator>
                            </p>
                            <p>
                                <asp:Label ID="EmailLabel" runat="server" AssociatedControlID="Email">E-mail:</asp:Label>
                                <asp:TextBox ID="Email" runat="server" CssClass="textEntry"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="EmailRequired" runat="server" ControlToValidate="Email" 
                                     CssClass="failureNotification" ErrorMessage="E-mail is required." ToolTip="E-mail is required." 
                                     ValidationGroup="RegisterUserValidationGroup">*</asp:RequiredFieldValidator>
                            </p>
                            <p>
                                <asp:Label ID="PasswordLabel" runat="server" AssociatedControlID="Password">Password:</asp:Label>
                                <asp:TextBox ID="Password" runat="server" CssClass="passwordEntry" TextMode="Password"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="PasswordRequired" runat="server" ControlToValidate="Password" 
                                     CssClass="failureNotification" ErrorMessage="Password is required." ToolTip="Password is required." 
                                     ValidationGroup="RegisterUserValidationGroup">*</asp:RequiredFieldValidator>
                            </p>
                            <p>
                                <asp:Label ID="ConfirmPasswordLabel" runat="server" AssociatedControlID="ConfirmPassword">Confirm Password:</asp:Label>
                                <asp:TextBox ID="ConfirmPassword" runat="server" CssClass="passwordEntry" TextMode="Password"></asp:TextBox>
                                <asp:RequiredFieldValidator ControlToValidate="ConfirmPassword" CssClass="failureNotification" Display="Dynamic" 
                                     ErrorMessage="Confirm Password is required." ID="ConfirmPasswordRequired" runat="server" 
                                     ToolTip="Confirm Password is required." ValidationGroup="RegisterUserValidationGroup">*</asp:RequiredFieldValidator>
                                <asp:CompareValidator ID="PasswordCompare" runat="server" ControlToCompare="Password" ControlToValidate="ConfirmPassword" 
                                     CssClass="failureNotification" Display="Dynamic" ErrorMessage="The Password and Confirmation Password must match."
                                     ValidationGroup="RegisterUserValidationGroup">*</asp:CompareValidator>
                            </p>
                        </fieldset>
                        <p class="submitButton">
                            <asp:Button ID="CreateUserButton" runat="server" CommandName="MoveNext" Text="Create User" 
                                 ValidationGroup="RegisterUserValidationGroup"/>
                        </p>
                    </div>
                </ContentTemplate>
                <CustomNavigationTemplate>
                </CustomNavigationTemplate>
            </asp:CreateUserWizardStep>
        </WizardSteps>
    </asp:CreateUserWizard>--%>
</asp:Content>
