﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"
    CodeBehind="WebForm1.aspx.cs" Inherits="Presentation.WebForm1" %>

<%@ MasterType VirtualPath="~/Site.Master" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
<asp:TextBox ID="txtRe" runat="server" class="input-xxlarge"></asp:TextBox>

    <ul data-role="listview">
        <li><a href="#">
            <h3>
                title</h3>
            <p>
                <strong>author</strong></p>
            <p>
                fecha</p>
        </a></li>
    </ul>


<%--    <asp:Button ID="btn1" runat="server" Text="Launch" href="#myModal" class="btn btn-primary"
        data-toggle="modal" onclick="btn1_Click" />--%>
</asp:Content>
