﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="xAbout.aspx.cs" Inherits="Presentation.xAbout" %>
    <%@ MasterType VirtualPath="~/Site.Master" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- MeSys Sidebar -->
<ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:200px"
     data-ad-client="ca-pub-3240367647985224"
     data-ad-slot="2796945594"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<asp:TextBox ID="txtNumber" runat="server"></asp:TextBox>
<asp:Button ID="btnSession" runat="server" Text="Session" 
        onclick="btnSession_Click" />

<hr />
<asp:TextBox ID="txtEMail" runat="server">
</asp:TextBox>
<asp:TextBox ID="txtValidEMail" runat="server"></asp:TextBox>
<asp:Button ID="btnEMail" runat="server" Text="EMail" onclick="btnEMail_Click" />
<%--<asp:FileUpload ID="fuDocuments" runat="server" />
<asp:TextBox ID="txtDocName" runat="server"></asp:TextBox>
<asp:Button ID="btnUpload" runat="server" Text="Up" onclick="btnUpload_Click" />
<asp:Button ID="btnDownLoad" runat="server"  Text="Down" 
        onclick="btnDownLoad_Click"/>

<asp:Image ID="img" runat="server" />--%>

<br />
<asp:Button ID="btnSentMail" runat="server" Text="Sent Mail" 
        onclick="btnSentMail_Click" />
<br />
    <!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

<asp:Button ID="btn1" runat="server" Text="Launch" href="#myModal" 
        class="btn btn-primary" data-toggle="modal" onclick="btn1_Click" />

<%--<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>--%>
</asp:Content>

