﻿/*logo a*/
.header_left a img
{
	margin-right: 5px;
}

/*.post_content h2 {
    margin-top: -27px;
}*/

.ads_h70 
{
    background: #F0F0F0;
    height: 70px;
    margin-bottom: 10px;
    margin-top: -50px;
    width:100%;
    /*padding: 20px 30px;*/
}
