﻿<%@ Page Title="Registrar Coordinador" Language="C#" MasterPageFile="~/Modules/Security/Security.master"
    AutoEventWireup="true" CodeBehind="xCoordinatorRegister.aspx.cs" Inherits="Presentation.Modules.Security.Forms.CoordinatorRegister" %>

<%@ Register Src="~/Modules/General/UserControls/wucGeneralRegister.ascx" TagName="wucGeneralRegister"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:wucGeneralRegister ID="wucGeneralRegister1" runat="server" />
</asp:Content>

