﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Modules/Security/Security.master"
    AutoEventWireup="true" CodeBehind="xUserRegister.aspx.cs" Inherits="Presentation.Modules.Security.Forms.Users" %>

<%@ Register Src="~/Modules/General/UserControls/wucGeneralRegister.ascx" TagName="wucGeneralRegister"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:wucGeneralRegister ID="wucGeneralRegister1" runat="server" ModuleId="3" ScreenId="3"
        EntityTypeId="0" />
</asp:Content>
