﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Modules/Security/Security.master" AutoEventWireup="true" CodeBehind="xusuario.aspx.cs" Inherits="Presentation.Modules.Security.Forms.usuario" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
