﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Modules/General/General.master"
    AutoEventWireup="true" CodeBehind="GeneralRegister.aspx.cs" Inherits="Presentation.Modules.General.Forms.GeneralRegister" %>

<%@ Register src="../UserControls/wucGeneralRegister.ascx" tagname="wucGeneralRegister" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

    <%--<uc1:wucGeneralRegister ID="wucGeneralRegister1" runat="server" NavId="1" />--%>
    <uc1:wucGeneralRegister ID="wucGeneralRegister1" runat="server" ModuleId="1" NavigationId="1" EntityId="1" />
</asp:Content>
