﻿<%@ Page Title="Registrar Empleado" Language="C#" MasterPageFile="~/Modules/Administration/Administration.master"
    AutoEventWireup="true" CodeBehind="EmployeeRegister.aspx.cs" Inherits="Presentation.Modules.Administration.Forms.EmployeeRegister" %>

<%@ Register Src="~/Modules/General/UserControls/wucGeneralRegister.ascx" TagName="wucGeneralRegister"
    TagPrefix="uc1" %>
<%@ MasterType VirtualPath="~/Modules/Administration/Administration.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:wucGeneralRegister ID="wucGeneralRegister1" runat="server" />
</asp:Content>
