﻿<%@ Page Title="Registrar Jefe de Enseñanza" Language="C#" MasterPageFile="~/Modules/Administration/Administration.master"
    AutoEventWireup="true" CodeBehind="HeadTrainingRegister.aspx.cs" Inherits="Presentation.Modules.Administration.Forms.HeadTrainingRegister" %>

<%@ Register Src="~/Modules/General/UserControls/wucGeneralRegister.ascx" TagName="wucGeneralRegister"
    TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:wucGeneralRegister ID="wucGeneralRegister1" runat="server" />
</asp:Content>
